<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>rubu</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/assets/img/logo/favicon.png" rel="icon">
    <!--<link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">-->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Arsha - v4.7.0
    * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <style>
    .item{
    background-color:#ccc;
    display:block;
    }

    .carousel-caption{
    color:#000;
    position:static;
    }






    </style>
</head>

<body>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <!--<h1 class="logo me-auto"><a href="#hero">rubu</a></h1>-->
        <h1 class="logo me-auto"><a href="#hero"><img src="static/assets/img/logo/logo.png" class="img-fluid animated"></a>
        </h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#portfolio">Produkt</a></li>
                <li><a class="nav-link scrollto" href="#services">Bildung</a></li>
                <li><a class="nav-link scrollto" href="#">Downloads</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#team">Team</a></li>
                <li><a class="nav-link scrollto" href="#contact">Kontakt</a></li>
                <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
    <!-- ======= Message Section ======== -->
    <div class="container" id="flash-alert">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show opacity-75" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div id="particles-js"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                 data-aos="fade-up" data-aos-delay="200">
                <!--<h1>Wir denken die Prozessüberwachung neu</h1>
                <h2>Als ein talentiertes Team um rubu zusammengeschlossen, haben wir die Lösung zur optimalen
                    Prozessüberwachung der Zukunft!</h2>-->

                <h1>Technologien</h1>
                <h2>für die Wissenschaft der Zukunft!</h2>
                <h3 style="color:white">Wir bieten das optimale Tool mit API für: </h3>
                <h4 style="color:white">Maschienelles Lernen, Objekt Verfolgung, 3D-Scan, Industrie 4.0, Bildung und
                    Forschung</h4>
                <br>
                <br>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i
                            class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="static/assets/img/hero-rubu-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">
    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
        <div class="container">

            <div class="row" data-aos="zoom-in">
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <h1><img src="static/assets/img/AI.png" class="img-fluid animated" alt=""></h1>
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <h1><i class="bi bi-eye iconeye"></i></h1>
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <!--<img src="static/assets/img/clients/client-1.png" class="img-fluid" alt="">-->
                    <h1><i class="bi bi-badge-3d icon3d"></i></h1>
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <h1><i class="bi bi-wifi iconwifi"></i></h1>
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <h1><i class="bi bi-camera iconcam"></i></h1>
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <h1><i class="bi bi-github"></i></h1>
                </div>
            </div>
        </div>
    </section><!-- End Clients Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio" style="margin-bottom: 25px">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Produkt</h2>
            </div>
            <div class="row portfolio-container">
                <div class="col-md-2">
                    <!--<ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">-->
                    <ul id="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
                        <!-- Button Filters !-->
                        <li data-filter=".filter-app" class="filter-active">Beschreibung</li>
                        <!-- with Tooltip <li id="tipTop" data-filter=".filter-web">Spezifikation</li> -->
                        <li data-filter=".filter-web">Spezifikation</li>
                        <!--<li data-filter=".filter-card">GitHub</li>-->
                        <!--<a href="dokumentation.html"><li data-filter=".filter-dok">API</li></a>-->
                        <li data-filter=".filter-dok">API</li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                        <!-- Produktbeschreibung -->
                        <div class="portfolio-item filter-app">
                            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"
                                            class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                                            aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                                            aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="10000">
                                        <div class="carousel-caption">
                                            <h5>Produktbeschreibung</h5>
                                            <p>Das Produkt Temas ist ein Mini-Gimbal mit mehreren Funktionalitäten,
                                                welche anhand der eingebauten Komponenten ermöglicht werden können. Eine
                                                Kamera, ein Lidar-Laser und zwei Motoren können über eine
                                                Wifi-Schnittstelle angesteuert werden. Eine mitgelieferte Software
                                                erlaubt die Verwendung folgender Funktionen:
                                            <p>
                                                Bewegung der Motoren,
                                            </p>
                                            <p>
                                                Live-Stream Kamera ,
                                            </p>
                                            <p>
                                                Entfernungsmessung,
                                            </p>
                                            <p>
                                                3D-Ansicht,
                                            </p>
                                            <p>
                                                Point-Cloud,
                                            </p>
                                            <p>
                                                Objektverfolgung,
                                            </p>
                                            <p>
                                                Positionskontrolle von Objekten und
                                            </p>
                                            <p>
                                                das Scannen von QR-Codes.
                                            </p>
                                            Des Weiteren wird eine API freigegeben um eigene Ideen im Bereich der
                                            künstlichen Intelligenz bzw. maschinelles Sehen und Deep Learning
                                            umzusetzen. Die Objektverfolgung ermöglicht eine 3D Trajektorie mit dem
                                            physikalische Experimente dem Digitalen Zeitalter entsprechend
                                            aufgezeichnet und ausgewertet können. In eine Prozessoptimierung im
                                            neuen Standard der Industrie 4.0 lässt sich das Produkt Temas leicht
                                            integrieren. All diese Eigenschaften und vieles mehr sind in dem Produkt
                                            Temas vereint!</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="http://placehold.it/1200x480" alt=""/>
                                        <div class="carousel-caption">
                                            <h5>Second slide label</h5>
                                            <p>Some representative placeholder content for the second slide.</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="http://placehold.it/1200x480" alt=""/>
                                        <div class="carousel-caption">
                                            <h5>Third slide label</h5>
                                            <p>Some representative placeholder content for the third slide.</p>
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>

                        <!-- Spezifikation -->

                        <div class="portfolio-item filter-web">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col"><b>Parameter</b></th>
                                    <th scope="col"><b>Wert</b></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">Elevation</th>
                                    <td>-80° bis 80°</td>
                                </tr>
                                <tr>
                                    <th scope="row">Azimutal</th>
                                    <td>-70° bis 90°</td>
                                </tr>
                                <tr>
                                    <th scope="row">Stromversorgung</th>
                                    <td>5 V/3 A DC (USB Type C)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Stellzeit bei 4.8 V</th>
                                    <td>0.09 s/60°</td>
                                </tr>
                                <tr>
                                    <th scope="row">Getriebe</th>
                                    <td>Titan</td>
                                </tr>
                                <tr>
                                    <th scope="row">Gewicht</th>
                                    <td>xxxx</td>
                                </tr>
                                <tr>
                                    <th scope="row">Betriebstemperatur</th>
                                    <td>Raumtemperatur</td>
                                </tr>
                                <tr>
                                    <th scope="row">Kamera Sensor</th>
                                    <td>Sony IMX219</td>
                                </tr>
                                <tr>
                                    <th scope="row">Auflösung Bildaufnahme</th>
                                    <td>3208 x 2465 Pixel (8 MP)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Auflösung Videoaufnahme</th>
                                    <td>1080p30, 720p60</td>
                                </tr>
                                <tr>
                                    <th scope="row">Auflösung Live-Übertragung (mitgelieferte Software)</th>
                                    <td>320 x 240 Pixel</td>
                                </tr>
                                <tr>
                                    <th scope="row">Pixel Pitch</th>
                                    <td>1.12 µm</td>
                                </tr>

                                <tr>
                                    <th scope="row">Brennweite</th>
                                    <td>3.04 mm</td>
                                </tr>
                                <tr>
                                    <th scope="row">Sehfeldgröße Horizontal</th>
                                    <td>62.2°</td>
                                </tr>
                                <tr>
                                    <th scope="row">Sehfeldgröße Vertikal</th>
                                    <td>48.8°</td>
                                </tr>
                                <tr>
                                    <th scope="row">Laserklasse</th>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <th scope="row">Reichweite</th>
                                    <td>1 m bis 40 m</td>
                                </tr>
                                <tr>
                                    <th scope="row">Auflösung</th>
                                    <td>+/- 1 cm</td>
                                </tr>
                                <tr>
                                    <th scope="row">Genauigkeit</th>
                                    <td>+/- 2.5 cm</td>
                                </tr>
                                <tr>
                                    <th scope="row">Wellenlänge</th>
                                    <td>905 nm</td>
                                </tr>
                                <tr>
                                    <th scope="row">Spitzenleistung</th>
                                    <td>1.3 W</td>
                                </tr>
                                <tr>
                                    <th scope="row">Aktualisierungsrate</th>
                                    <td>500 Hz</td>
                                </tr>
                                <tr>
                                    <th scope="row">Strahldivergenz</th>
                                    <td>8 mrad</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Dokumentation -->
                        <div class="col-lg-4 col-md-6 portfolio-item filter-dok">
                            <ul>
                                <li><a href="dokumentation.html">Dokumentation</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Bildung</h2>
                <p>Teams ist zukunftsorientiert entwickelt für Bildung, Forschung und Industrie 4.0 ausgerichtet.</p>
                <p>Was wir Ihnen zur Verfügung stellen.</p>
            </div>

            <div class="row">
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                     data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a href="">Physik-Experimente</a></h4>
                        <p>Temas eröffnet neue Türen in der Experimentierwelt</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                     data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-bullseye"></i></div>
                        <h4><a href="">Maschinelles Sehen</a></h4>
                        <p>Mit dem eingebauten LiDAR-Sensor sind wir Meister im Sehen</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                     data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxs-video"></i></div>
                        <h4><a href="">Objektverfolgung</a></h4>
                        <p>Objekte zu erkennen wird, mit Temas zum Kinderspiel</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                     data-aos-delay="500">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxs-bar-chart-alt-2"></i></div>
                        <h4><a href="">Industrie 4.0</a></h4>
                        <p>Die Industrie von heute und der Zukunft kann sehr viel von Temas lernen</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Über uns</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        Im Jahr 2019 haben wir uns zu dritt zusammengeschlossen. Unser Ziel war es einfache Projekte zu
                        realisieren und uns wöchentlich abzustimmen.
                        Ohne jegliche Absicht von kommerzieller Nutzung der entwickelten Projekte.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Ein junges Team, das mit der Forschung und Entwicklung
                            von Temas eine neue Ära in der physikalischen Experimentierwelt startet.
                        </li>
                        <li><i class="ri-check-double-line"></i> Die Digitalisierung treibt einen Wandel in der
                            Experimentierwelt voran und fordert neue Produkte und Lösungen.
                        </li>
                        <li><i class="ri-check-double-line"></i> Unsere Werte sind: Du kannst im leben alles sein. Aber
                            das wichtige ist im Leben ein Mensch zu sein.
                            Hier unterscheiden wir nicht zwischen Staatsangehörigkeit, Religion, Geschlecht, Hautfarbe
                            oder Herkunft für uns steht
                            der Mensch im Vordergrund.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        Unser Motto ist gewesen die Kompetenz, aller beteiligten zu erweitern und zu festigen.
                        Diese Kultur führen wir auch heute weiter, jedoch mit dem Ziel, was in den Jahren sich
                        herauskristallisiert hat als Temas weiter.
                    </p>
                    <a href="#" class="btn-learn-more">Learn More</a>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
        <div class="container-fluid" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                    <div class="content">
                        <h3>Temas <strong>Die Digitalisierung beginnt jetzt
                            mit der komplett Lösung der Experimentierwelt für das 21. Jahrhundert</strong></h3>
                        <p>
                            Sie können alle Ihre Daten und Informationen digital und sicher verwalten.
                            Die Technologie der Objekterkennung bietet uns die Möglichkeit der Nachverfolgung von
                            bestimmten Gegenständen.
                        </p>
                    </div>

                    <div class="accordion-list">
                        <ul>
                            <li>
                                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span>
                                    Federpendel/Fadenpendel - Mechanische Schwingungen
                                    <i class="bx bx-chevron-down icon-show"></i>
                                    <i class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                    <p>
                                        Temas kann die Mechanische-Schwingung bestimmen.
                                        In der App kann man die relevanten Messdaten analysieren.

                                    <p>Bewegungsgleichung:

                                    </p>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span>
                                    Freier Fall <i
                                            class="bx bx-chevron-down icon-show"></i><i
                                            class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                    <p>
                                        Mit dem integrierten LiDAR-Sensor, kann man die Fallbeschleunigung bestimmen.
                                        In der mitgelieferten Software, wird der Startpunkt und Endpunkt vom Objekt
                                        bestimmt und
                                        die daraus resultierende Beschleunigung ermittelt.

                                    <p>Weg-Zeit-Gesetz:
                                        <math>
                                            <semantics>
                                                <mrow>
                                                    <mi>s</mi>
                                                    <mo>=</mo>
                                                    <mfrac>
                                                        <mrow>
                                                            <mi>g</mi>
                                                        </mrow>
                                                        <mrow>
                                                            <mn>2</mn>
                                                            <mo>+</mo>
                                                            <msup>
                                                                <mi>t</mi>
                                                                <mn>2</mn>
                                                            </msup>
                                                        </mrow>
                                                    </mfrac>
                                                </mrow>
                                                <annotation encoding="TeX">s = \frac{g}{2+t^2}</annotation>
                                            </semantics>
                                        </math>
                                    </p>

                                    <p>Geschwindigkeit-Zeit-Gesetz:
                                        <math>
                                            <mrow>
                                                <mi>v</mi>
                                                <mo>=</mo>
                                                <mi>g</mi>
                                                <mo>*</mo>
                                                <mi>t</mi>
                                            </mrow>
                                            <annotation encoding="TeX">v = gt</annotation>
                                        </math>
                                    </p>


                                    <p>Geschwindigkeit-Weg-Gesetz:
                                        <math>
                                            <mrow>
                                                <mi>v</mi>
                                                <mo>=</mo>
                                                <msqrt>
                                                    <mrow>
                                                        <mn>2</mn>
                                                        <mi>g</mi>
                                                        <mo>*</mo>
                                                        <mi>s</mi>
                                                    </mrow>
                                                </msqrt>
                                            </mrow>
                                            <annotation encoding="TeX">v = \sqrt{2g * s}</annotation>
                                        </math>
                                    </p>
                                    </p>
                                </div>
                            </li>

                            <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span>
                                    Beschleunigte Bewegungen <i
                                            class="bx bx-chevron-down icon-show"></i><i
                                            class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                    <p>
                                        Mit dem Gravimeter von Temas gibt es eine weitere Funktionalität fungiert als
                                        Beschleunigungsmeter.
                                        Dieser ermittelt die Beschleunigung aus der Bewegung.
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>

                <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
                     style='background-image: url("static/assets/img/why-us.png");' data-aos="zoom-in"
                     data-aos-delay="150">&nbsp;
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                    <img src="static/assets/img/skills.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                    <h3>Welche Programmiersprachen wurden bei der Entwicklung von Temas verwendet?</h3>
                    <p class="fst-italic">
                        Die unterschiedlichen Techniken machen Teams einzigartig.
                    </p>

                    <div class="skills-content">

                        <div class="progress">
                            <span class="skill">Python <i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Swift<i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Windows <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Pandas <i class="val">55%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Skills Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta2" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3>Sie wollen mehr über unser Produkt oder Services erfahren?</h3>
                    <p> Möchten Sie weiterführende Informationen
                        erhalten oder einen Termin für eine Webpräsentation oder
                        eine Vorführung vor Ort ausmachen? Wir sind gerne für Sie da.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#">Kostenlos Testen</a>
                </div>
            </div>

        </div>
    </section><!-- End Cta Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Team</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                    fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pic">
                            <!--<img src="static/assets/img/team/team-1.jpg" class="img-fluid" alt="">--></div>
                        <div class="member-info">
                            <h4>Walter White</h4>
                            <span>Chief Executive Officer</span>
                            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                        <div class="pic">
                            <!--<img src="static/assets/img/team/team-2.jpg" class="img-fluid" alt="">--></div>
                        <div class="member-info">
                            <h4>Sarah Jhonson</h4>
                            <span>Product Manager</span>
                            <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
                        <div class="pic">
                            <!--<img src="static/assets/img/team/team-3.jpg" class="img-fluid" alt="">--></div>
                        <div class="member-info">
                            <h4>William Anderson</h4>
                            <span>CTO</span>
                            <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                        <div class="pic">
                            <!--<img src="static/assets/img/team/team-4.jpg" class="img-fluid" alt="">--></div>
                        <div class="member-info">
                            <h4>Amanda Jepson</h4>
                            <span>Accountant</span>
                            <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Frequently Asked Questions</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                    fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                                                                       data-bs-target="#faq-list-1">Non consectetur a
                        erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p>
                                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non
                                curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus
                                non.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                                       data-bs-target="#faq-list-2" class="collapsed">Feugiat
                        scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum
                                velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec
                                pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus
                                turpis massa tincidunt dui.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                                       data-bs-target="#faq-list-3" class="collapsed">Dolor
                        sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus
                                pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum
                                tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna
                                molestie at elementum eu facilisis sed odio morbi quis
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                                       data-bs-target="#faq-list-4" class="collapsed">Tempus
                        quam pellentesque nec nam aliquam sem et tortor consequat? <i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est
                                ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit
                                adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="500">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                                       data-bs-target="#faq-list-5" class="collapsed">Tortor
                        vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo
                                integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc
                                eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Rubu kontaktieren</h2>
                <p></p>
            </div>

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>A108 Adam Street, New York, NY 535022</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>info@example.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+1 5589 55488 55s</p>
                        </div>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="{{url_for('index')}}" method="POST" role="form" class="php-email-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Vorname*</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Nachname*</label>
                                <input type="text" class="form-control" name="nachname" id="nachname" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Organisation</label>
                                <input type="text" class="form-control" name="organisation" id="organisation">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Geschäftliche Email*</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Telefon*</label>
                                <input type="text" class="form-control" name="telefon" id="telefon" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Land</label>
                                <input type="text" class="form-control" name="land" id="land">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name">Betreff</label>
                            <input type="text" class="form-control" name="subject" id="subject">
                        </div>
                        <div class="form-group">
                            <label for="name">Nachricht*</label>
                            <textarea class="form-control" name="message" rows="10" required></textarea>
                        </div>
                        <div class="form-group">
                            <p>Erforderliche Felder sind markiert mit*</p>
                        </div>

                        <div class="text-center">
                            <button type="submit">Anfragen</button>
                        </div>
                        <div class="form-group text-center">
                            <p>{{ recaptcha }}</p> <!-- Refer to 'recaptcha' variable in main.py -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Join Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>rubu</h3>
                    <p>
                        A108 Adam Street <br>
                        New York, NY 535022<br>
                        United States <br><br>
                        <strong>Phone:</strong> <br>
                        <strong>Email:</strong> info@rubu-tech.de<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Social Networks</h4>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            <p>Copyright&copy;
                <script>document.write(new Date().getFullYear())</script>
                <strong><span>rubu</span></strong>. All Rights Reserved
            </p>
        </div>

    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a> -->

<!-- Vendor JS Files -->
<script src="static/assets/vendor/aos/aos.js"></script>
<script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="static/assets/vendor/jquery/jquery-3.6.0.min.js"></script>

<!-- For Particles JS -->
<script src="static/assets/js/particles/particles.js"></script>
<script src="static/assets/js/particles/app.js"></script>
<script src="static/assets/js/particles/counter.js"></script>

<!-- Template Main JS File -->
<script src="static/assets/js/main.js"></script>

<!-- Template MathMl -->
<script src="http://fred-wang.github.io/mathml.css/mspace.js"></script>

</body>

</html>